extends layout

block content

  div#slider
    .row.large
      .imagegroup
        img(src='/images/slider-01.jpg' alt='')
        img(src='/images/slider-02.jpg' alt='')
        img(src='/images/slider-03.jpg' alt='')
        img(src='/images/slider-04.jpg' alt='')
        img(src='/images/slider-05.jpg' alt='')


  div#about.pad2
    h1 Welcome to 
      span #{title}

    p Established in the year 1957 at Ambala, Haryana, India. We, Ajanta Export Industries, are one of the leading manufacturers, exporters and wholesalers of equipment and instruments used in physics, biology and chemistry labs. Besides, we are also meeting the demands of quality laboratory glassware.

    p The complete product range offered by us include biological models, biological charts, dental/ENT equipments, laboratory glassware, laboratory plasticwares, scientific microscopes, physics equipments, physics apparatus, pharmacy instruments, surgical equipments, hospital furnitures, mechanics equipment, soil testing and survey items, generator equipments, muffle furnaces and many more.

    p A Proprietorship Firm, our business operations are led by Mr. Vinay Trehan. His experienced handling of the involved business operations, well developed production setup as well as services of experienced industry professionals assist us in meeting the prevailing as well as emerging equipment and instrument needs of the scientific community.

    p Today, our consistent business approach has helped us to emerge as a leading company in our industry sector. Further, the competitive pricing and customer centric business policies followed at our end has also helped us to gain large client following in the national and international regions. Presently, we are having a production capacity of over 1 million pieces per year that can further be expanded according to the specific order requirements coming from clients end. We also would like to assure our clients that no child labour is employed by us in any form, for production of our products.

  #client.d-flex
    #client-counter.d-flex
      div.tag-items 
        h2 1000+ 
          span Product
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ut dignissimos vitae tempora molestias repellendus, rem minima porro impedit facere reiciendis magni voluptatem voluptas deleniti laudantium officiis repudiandae velit quam.


      div.tag-items 
        h2 100+ 
          span Clients
        p Lorem ipsum dolor  amet consectetur adipisicing elit. Consequuntur incidunt aut nostrum corrupti temporibus, est vero aliquid minus tenetur perferendis eum. Cum recusandae optio nam sapiente reiciendis dignissimos enim eum?

      div.tag-items 
        h2 100+ 
          span Countries
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, pariatur. Aspernatur non aut magni ducimus, incidunt fugit dolores tempora optio aliquam sint molestiae, eius, nam eos totam praesentium dolor nobis!


      div.tag-items 
        h2 100+ 
          span Countries
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex odio nihil aliquam quo numquam reprehenderit, illum sit magnam dolorum quisquam pariatur, sint repellendus impedit nemo molestiae deleniti autem maiores?

  #products.pad2
    h3 Products
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, repellendus!
    div#product-container.d-flex
      each product in products
        div.product
          .product-image
            img(src=product.image)

          div.product-name
           h3
             a(href=product.url) #{product.name}


      else
        p This category has no products

  #contact.pad2.d-flex
    #contact-des
      p Tell us what you think about our products and services. We would love to hear from you. If you have any questions about placing orders or any other stuff, please feel free to contact us. We will be happy to answer your questions.

    #contact-btn.d-flex
      button#contact-button(type='button' disabled=true)
        a(href="/contact") Contact Us 

  #map 
    iframe(width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=asha%20scientific%20works&key=AIzaSyDrdKmxFhDEz-z1jmdbOJy6v2RPW9sTNOk")