extends layout

block content
  div#product-det.pad2
    #pro.d-flex
      #pro-image
        img(src=product.image)

      #product-details.d-flex
        div#dcard
          h3 #{product.name}

          #desc
            strong Description
            p!= product.description

  #products.pad2
    h3 Related Products
    div#product-container.d-flex
      each product in products
        div.product
          .product-image
            img(src=product.image)

          div.product-name
           h3
             a(href=product.url) #{product.name}
                
      else
        p This category has no products