extends layout

block content
  ul#product-list.pad2
    h1 Search Results
    each product in products
        li.category-items

          img.subImage(src=product.image)

          div.subDcard
            h3.product-name
              a(href=product.url) #{product.name}

            #subDetails 
              #subDetails1
                p #[strong Price: ] #{undefined===product.price?'-':product.price}
                p #[strong Minimum Order Quantity: ] #{undefined===product.minOrder?'-':product.minOrder}
                p #[strong Material: ] #{undefined===product.material?'-':product.material}

              #subDetails2
                p #[strong Payment Terms: ] #{undefined===product.paymentTerms?'-':product.paymentTerms}
                p #[strong Delivery Time: ] #{undefined===product.deliveryTime?'-':product.deliveryTime}

    else
      p No products