extends layout

block content
  div#product-list-cat.pad2 

    h1 #{subCategory.name}

    p!= subCategory.description

  ul#product-list.pad2
    each product in Products
        li.category-items

          a(href=product.url).subImage
            img(src=product.image title=product.name)

          div.subDcard
            h2.product-name
              a(href=product.url) #{product.name}

            #subDetails 
              #subDetails1
                p #[strong Price: ] #{undefined===product.price?'-':product.price}
                p #[strong Minimum Order Quantity: ] #{undefined===product.minOrder?'-':product.minOrder}
                p #[strong Material: ] #{undefined===product.material?'-':product.material}

              #subDetails2
                p #[strong Payment Terms: ] #{undefined===product.paymentTerms?'-':product.paymentTerms}
                p #[strong Delivery Time: ] #{undefined===product.deliveryTime?'-':product.deliveryTime}


    else
      p This category has no products